
@font-face {
    font-family: 'arimoregular';
    src: url('arimo-webfont.eot');
    src: url('arimo-webfont.eot?#iefix') format('embedded-opentype'),
         url('arimo-webfont.woff') format('woff'),
         url('arimo-webfont.ttf') format('truetype'),
         url('arimo-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Nissan';
    src: url('nissan-webfont.eot');
    src: url('nissan-webfont.eot?#iefix') format('embedded-opentype'),
         url('nissan-webfont.woff') format('woff'),
         url('nissan-webfont.ttf') format('truetype'),
         url('nissan-webfont.svg#nissan_agregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media all
{
  body {
    color: #000000;
    background-color: #ffffff;
    font-family: 'Nissan';
    font-size: 18px;
    max-width: 70%;
    margin: auto;
    }

    body #content {
      padding-top: 45px;
    }
    body pre {
      border: none; }
    body a {
      color: #0000ff; }

    body #content {
      padding-top: 0px; }

    #postamble { color: #777777;
                 font-family: 'Arial';
               }

    div#postamble * a {     
        font-weight: bold;     
        text-decoration: none; 
        color: #777777
    } 

    a:link {
        font-weight: normal;
        text-decoration: none;
        color: #0000FF;
    }
    
    a:visited {
        font-weight: normal;
        text-decoration: none;
        color: #000099;
    }

    a:hover, a:active {
        text-decoration: none;
        color: #537d7b;
    }
}


h1,h2 {
    font-family: 'Arial';
    text-align:center;
}


code {
    background-color: #eeeeee;
    padding: 1pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}